venv/
node_modules/
package-lock.json
__pycache__/
*.csv
flask-server/uploads/
*.log
*.tmp
.DS_Store
.idea
flask-server/outputs/
flask-server/processed/
flask-server/models/
flask-server/dataset_3.csv
flask-server/dataset_2.csv
flask-server/dataset_1.csv